<div class="activity-container">

    <div>
        <kendo-grid [data]="gridData">
            <ng-template kendoGridToolbarTemplate>
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex gap-3 align-items-center">
                        <p class="mb-0 fw-bold">Activities</p>
                        <p class="mb-0">Result:200 Activities</p>
                    </div>

                    <div class="d-flex align-items-center justify-content-evenly gap-4">
                        <kendo-textbox class="searchbox" [style.width.px]="200"
                            placeholder="Search in all columns..."></kendo-textbox>
                        <span class="material-symbols-outlined searchbutton">
                            search
                        </span>
                        <span class="material-symbols-outlined">
                            fullscreen_exit
                        </span>
                        <span class="material-symbols-outlined">
                            settings
                        </span>
                    </div>
                </div>
            </ng-template>
            <kendo-grid-column field="projectId" title="Project ID" [width]="100">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.projectId }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="activityId" title="Activity ID" [width]="150">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div>
                        <div>{{ dataItem.activityId }}</div>
                        <div *ngIf="dataItem.subActivity" class="subtext">
                            {{ dataItem.subActivity }}
                            <kendo-icon name="link-horizontal"></kendo-icon>
                        </div>
                    </div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="activityName" title="Activity Name" [width]="250">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <a href="#" class="link-text">{{ dataItem.activityName }}</a>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="resource" title="Primary Resource Name" [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.resource }}
                    <kendo-icon name="user" *ngIf="dataItem.hasImage"></kendo-icon>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="earlyDate" title="Early Date" [width]="150">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <a href="#" class="date-link">{{ dataItem.earlyDate }}</a>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>

    </div>
</div>