<div class="header-container">
     <div class="header">
        <div>
            <span>-</span>
            <span>-</span>
            <span>-</span>
        </div>
    <img class="header-logo" src="assets\images\Logo-Dashboard.png" alt="Logo-Dashboard">
    <p>|</p>
    <p>OTR</p>
    </div>
    <div class="header-end">
        <p>My Request</p>
        <p>Support Ticket</p>
        <i class="fa-regular fa-message"></i>
        <i class="fa-regular fa-circle-question"></i>
        <i class="fa-regular fa-bell"></i>
        <span>1</span>
        <img src="assets/images/img1.jpg" alt="" height="30px" width="30px">
        <span>+1</span>
    </div>
</div>
