<div class="login-container">
    <div class="login">
        <img class="logo-img" src="assets/images/Logo.png" alt="logo">
        <p class="login-heading">Sign in</p>
        <form action="">
            <div class="login-comp">
                <label for="">SSO ID<span class="required">*</span></label>
                <input type="text" placeholder="Enter the SSO ID" required>
                <br>
                <label for="">Password<span class="required">*</span></label>
                <input type="text" placeholder="Enter the password" required>
            </div>
        </form>

        <div class="remember">
            <input type="checkbox">
            <label for="">Remember me</label>
        </div>

        <button class="login-button">Login</button>

    </div>
</div>

