 <kendo-tabstrip>
      <kendo-tabstrip-tab title="Tab 1" [selected]="true">
        <ng-template kendoTabContent>
          <app-tab-content/>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="Tab 2">
        <ng-template kendoTabContent>
          <p>Tab 2 Content</p>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="Tab 3">
        <ng-template kendoTabContent>
          <p>Tab 3 Content</p>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
