/* kendo-tabstrip p {
        margin: 0;
        padding: 8px;
      }

.tab-container {
  border: 1px solid black;
} */

.custom-tabstrip .k-tabstrip-items .k-tabstrip-item, .custom-tabstrip .k-tabstrip-items .k-item {
    background: transparent !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    margin: 0 16px 0 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
}