<div class="filteractivities-container">
    <div class="d-flex justify-content-between heading-container">
         <h4>Filter app-activities</h4>
    <div class="d-flex  gap-4">
        <p>Clear Filter</p>
       <span class="material-symbols-outlined">
more_horiz
</span>
       <span class="material-symbols-outlined">
keyboard_arrow_down
</span>
    </div>
    </div> 
    <kendo-label text="View As">
          <br />
          <kendo-dropdownlist [data]="listItems" value="Individual">
          </kendo-dropdownlist>
    </kendo-label>
    <div>
        <button kendoButton>Total Documents</button>
    <button kendoButton>Total Documents</button>
    <button kendoButton>Total Documents</button>
    <button kendoButton>Total Documents</button>
    </div>
    <div class="timeline-wrapper">
  <button kendoButton icon="chevron-left" class="nav-btn"> &#60;</button>

  <div class="timeline-cards">
    <div class="card red">
      <div class="title">Today</div>
      <div class="subtitle">1 out of 1 are not completed</div>
    </div>
    <div class="card yellow">
      <div class="title">FW 6, 2025 (This Week)</div>
      <div class="subtitle">6 out of 15 are not completed</div>
    </div>
    <div class="card">
      <div class="title">FW 7, 2025 (Next Week)</div>
      <div class="subtitle">4 out of 8 are not completed</div>
    </div>
    <div class="card">
      <div class="title">FW 8, 2025</div>
      <div class="subtitle">4 out of 8 are not completed</div>
    </div>
  </div>

  <button kendoButton icon="chevron-right" class="nav-btn">></button>
</div>

</div>

