.filteractivities-container {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 10px;
}
 kendo-dropdownlist {
        width: 170px;
      }

.heading-container {
    border-bottom: 1px solid grey;
} 

.filterheading {
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 15px;
}

.timeline-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: auto;
  padding: 10px;

  .nav-btn {
    height: 100%;
  }

  .timeline-cards {
    display: flex;
    gap: 10px;
    overflow-x: auto;

    .card {
      min-width: 200px;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      background: #fff;

      .title {
        font-weight: 600;
        margin-bottom: 4px;
      }

      .subtitle {
        font-size: 13px;
        color: gray;
      }

      &.red {
        background-color: #fce4ec;
      }

      &.yellow {
        background-color: #fffde7;
      }
    }
  }
}


.filter-subcontainer {
  padding: 5px 10px;
}

.dropdownlist {
  border: 1px solid rgb(211, 208, 208);
  padding: 3px 5px;
  background-color: white;
  width: 130px;
  margin-bottom: 10px; 
}

.dropdown {
  display: flex;

}

.buttondisplay {
 border-radius: 25px;
  margin: 5px 10px;
}

.selected-button {
  background-color: #147d64 !important;
  color: white !important;
  border-color:#147d64!important;
}
