<div class="custom-toolbar">
    <span class="material-symbols-outlined" (click)="toggleDrawer()">
        device_hub </span>
   
</div>
<kendo-drawer-container>
    <kendo-drawer #drawer
  [items]="items"
  mode="push"
 
  [mini]="!drawerExpanded"
  (select)="onSelect($event)">
        <ng-template kendoDrawerItemTemplate let-item class="selecteditem">
       <div class="drawer-icon" [ngClass]="{ selected: item.text === selected }">
        <span class="material-symbols-outlined">{{ item.icon }}</span>
      </div>
    </ng-template>
    </kendo-drawer>
    <kendo-drawer-content  >
        <div class="appcheck" *ngIf="showAppChecklist">
               <app-checkbox />
            </div>
    </kendo-drawer-content>
</kendo-drawer-container>