<div class=" sidebar-container">
    <div class="contracts">
        <kendo-tabstrip>
            <kendo-tabstrip-tab title="My Contracts" [selected]="true">
                <ng-template kendoTabContent>
                    <div class="searchbar">
                        <input type="text" class="searchbox" [style.width.px]="270"
                            placeholder="Search job numbers or contract name..">
                        <button kendoButton class="material-symbols-outlined searchbutton ">search</button>
                    </div>
                    <button kendoButton class="advancedbutton"> > Advanced search</button>
                    <p>Result:104 Contracts</p>
                    <div>
                        <kendo-treeview [nodes]="data" textField="text" kendoTreeViewHierarchyBinding
                            childrenField="items" kendoTreeViewExpandable [expandedKeys]="expandedKeys"
                            kendoTreeViewCheckable [(checkedKeys)]="checkedKeys">
                        </kendo-treeview>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="All Contracts">
                <ng-template kendoTabContent>
                    <p>All Contracts</p>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="Favourites">
                <ng-template kendoTabContent>
                    <p>Favourites</p>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </div>
</div>