<div class=" sidebar-container" *ngIf="showSidebar">
    <div class="contracts">
        <div class="filtercontract">
            <div class="ms-3"><span class="mail-box fw-bolder">Filter Contract</span></div>
            <div class="d-flex justify-content-between align-items-center gap-2">
                <span class="material-symbols-outlined">more_horiz</span>
                <button class="backarrow" kendoButton (click)="toggleSidebar()">
                    <span class="material-symbols-outlined">arrow_back</span>
                </button>
            </div>

        </div>
        <kendo-tabstrip>
            <kendo-tabstrip-tab class="h-100" title="My Contracts" [selected]="true">
                <ng-template kendoTabContent>
                    <div class="searchbar">
                        <input type="text" class="searchbox" [style.width.px]="270"
                            placeholder="Search job numbers or contract name.." [(ngModel)]="searchText">
                        <span kendoButton class="material-symbols-outlined searchbutton">search</span>
                    </div>
                    <button kendoButton class="advancedbutton"> > Advanced search</button>
                    <p>Result: {{currentProjects.length}} Contracts</p>
                    <div>
                        <kendo-treeview [nodes]="filteredProjects" textField="text" kendoTreeViewExpandable
                            kendoTreeViewCheckable kendoTreeViewHierarchyBinding childrenField="items"
                            [(checkedKeys)]="checkedKeys" [expandedKeys]="expandedKeys">
                            <ng-template kendoTreeViewNodeTemplate let-dataItem>
                                <span>
                                    {{ dataItem.text }}
                                    <span *ngIf="dataItem.isFavorite" class="material-symbols-outlined ">star</span>
                                </span>
                            </ng-template>
                        </kendo-treeview>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="All Contracts">
                <ng-template kendoTabContent>
                    <p>All Contracts</p>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="Favourites">
                <ng-template kendoTabContent>
                    <p>Favourites</p>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </div>
</div>