.dashboard-container{
    height: 100vh;
}

.operation-container {
    margin: 25px;
}

.dovsbuy {
    background-color: #147d64;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 5px;
}

.dovsbuy-container {
   font-size: smaller;
}

.date {
    color: #27ad90;
}

